.bus {
  border-bottom: 1px solid black;
  max-width: 900px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 3px 5px;
}
.bus .bus_name {
  width: 70%;
  margin: 0 auto;
}
.bus .bus_status {
  width: 9%;
  margin: 0 auto;
  min-width: 55px;
}
.bus .bus_time {
  width: 21%;
  margin: 0 auto;
  text-align: right;
}
.bus_list {
  border: 1px solid black;
  border-bottom: 0px;
  padding: 0 auto;
  width: 95%;
  margin: 0 auto;
}
