.stop {
  border: 1px solid black;
  width: 95%;
  max-width: 900px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  padding: 3px 5px;
}
